{% extends "base.html" %}
{% block content %}
<div class="col-md-8 col-md-offset-2">
  <p>
    <p>How often is this you and your significant other:</p>

<blockquote>
  <p>You: Hey, the dishes are dirty. Let’s go out to eat instead of being Adults.</p>

  <p>SO: That sounds good, how about Chinese?</p>

  <p>You: I had Chinese for lunch.</p>

  <p>SO: Alright, what about Indian food? Naan is so good.</p>

  <p>You: I don’t like the Indian food around here.</p>

  <p>SO: Fine. You choose something then.</p>

  <p>You: How about Pizza?</p>

  <p>SO: I had pizza yesterday.</p>

  <p>You: OK, let’s just starve then.</p>

  <p>SO: It’s the only option we can agree on!</p>
</blockquote>

<p>Luckily for you and your loved ones an app has been invented that can prevent voluntary starvation by helping you find places to dine-out. It’s called <a href="www.chooseeats.com">chooseeats.com</a> and it makes the above conversation a thing of the past, like blockbuster.</p>

<h2 id="how-it-works">How it works.</h2>
<p>Chooseeats compares the check-in and ratings history hidden in the <a href="www.foursquare.com">foursquare</a> and <a href="www.swarmapp.com">swarm</a> accounts of you and your potential dining partner. It finds restaurant types (Chinese food, Italian, etc) that both people have visited and displays them in order by time since last check-in and percentage of “liked”. The philosophy here is that the ideal restaurant is of a type both people enjoy <em>and</em> haven’t been to in a while. By simply showing you the restaurant types that meet these criteria, you won’t have to discover it through the tedious process of recounting your recent meal conquests or long standing preferences.</p>

<h2 id="current-features">Current Features.</h2>
<p>As of now, chooseeats lets you see which restaurants you haven’t been to in a while and how much you like those types. You can also choose one of your foursquare friends to eat with and see suggestions based on restaurants you both like. Using chooseeats requires authenticating the app with foursquare.</p>

<h2 id="the-future">The Future.</h2>
<p>Eventually, I would like to have chooseeats suggest a specific restaurant after you’ve chosen a restaurant type. For example, you and your girlfriend both like Italian food (you each have an average rating of above 80% likes) <em>and</em> its been over 3 weeks since you’ve been to an Italian restaurant (how could you go so long?). After selecting “Italian” on chooseeats it now pops up the highest rated Italian restaurant near you based on either foursquare or yelp ratings. Location based recommendations would make the app more useful in spur of the moment dining adventures where you might be out of your comfort zone.</p>

<p>While there is much room for improvement, the website is currently usable, so please do! Also, in way of feedback, it would be great if you could open up issues on its <a href="https://github.com/ndiquattro/chooseeats">GitHub Repo</a>!</p>

  </p>
From: <a href="http://davisig.org/blog/2015/06/05/chooseeats/">Davis Incubator Group Blog</a><br>
Contact: <a href="http://davisig.org/members/ndiquattro/">Nick DiQuattro</a>
</div>
  <br>
{% endblock %}
