<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
      <title>{{ title }} - chooseeats</title>
    {% else %}
      <title>Welcome to chooseeats</title>
    {% endif %}
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">        
    <!-- My custom css -->
    <link href="/static/css/whereeat.css" rel="stylesheet">
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">chooseeats</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="#about">About</a></li>
            {% if authurl %}
              <li><a href="{{ authurl }}">Authenticate with Foursquare</a></li>
            {% else %}
              <li><a href="/results">My History</a></li>
              <li><a href="/friends">Friends</a></li>
              <li><a href="/deauth">Logout</a></li>
            {% endif %}
          </ul>
          <p class="navbar-text navbar-right">Signed in as {{ fulnm }}</p>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>